code
{
	background: #000000;
    color: #ffffff;
    font-family: verdana;
    font-size: 2rem;
    border: 2px solid red;
    display: block;
    text-align: center;
}

section
{   float: left;
	width: 30%;
	height: 400px;
    border: 2px solid #000000;
    border-radius: 6px;
    background-color: red;
    font-size: 30px
}

header, section
{
	margin: 0 1.5% 24px 1.5%
}

footer
{
	clear: both;
}

.p1
{
	background-color: #000000
}

.p3
{
	color: red
}

img
{
	width: 100%;
}